		
		<nav>
			<ul>
				<li><img src="/images/logo13.png" class="logo"></li>
				<li><a href="index.html" class="hem"><img src="/images/web.png" class="imghem"> HEM</a></li>
				<li><a href="add.html" class="add"><img src="/images/signs.png" class="imgadd"> LÄGG TILL</a> </li>
				<li><a href="course.html" class="kurs"><img src="/images/tool.png" class="imgtool"> SÖK</a></li>
				<li><a href="delete.html"  class="bort"><img src="/images/delete.png" class="imgdelete"> TA BORT</a> </li>
				<li><a href="update.html" class="update"><img src="/images/arrows.png" class="imgupdate">UPPDATERING</a></li>
				<li><input type="text" class="search" ng-model="search"></input><input  type="submit"  class="sok" ng-click="postSearch()" value="Sök" class="button"></input></li>
			</ul>
		<nav>